
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    z-index: 10;
    background-color: transparent;
}

.logo {
    font-size: x-large;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.links {
    font-size: larger;
    display: flex;
    gap: 5rem;
    margin-right: 2rem;
}

