@mixin respondBetween($min: null, $max: null) {
  @if $min != null and $max != null {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $min != null {
    @media screen and (min-width: $min) {
      @content;
    }
  } @else if $max != null {
    @media screen and (max-width: $max) {
      @content;
    }
  } @else {
    @warn "respondBetween mixin requires at least one parameter: $min or $max.";
  }
}

@mixin background {
  background-image: url("/image-hero-background.png");
  background-repeat: repeat;
  background-size: auto;
}

@mixin container {
  box-sizing: border-box;
  margin: auto;
  padding: 0 40px;
  max-width: 1700px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@mixin content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

@mixin layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
