.createProduct {
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  height: auto;
  border-radius: 5px;
  padding: 30px;

  &__content {
    display: flex;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__fields {
    display: flex;
    flex-direction: column;

    &__label {
      font-size: 23px;
      font-weight: 500;
    }

    &__input {
      width: 100%;
      min-height: 25px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 500;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
  }

  @include respondBetween(0, $breakpoint-tablet) {
    &__fields {
      &__label {
        font-size: 20px;
      }
    }

    &__form {
      gap: 1rem;
      min-width: 150px;
      margin: 10px auto;
    }

    &__label {
      font-size: 55px;
    }

    &__buttons {
      gap: 1.5rem;

      &__create {
        margin-top: 10px;
      }
    }
  }
}
