.createEmployee {
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 700px;
  min-width: 250px;
  height: auto;
  border-radius: 5px;
  padding: 30px;

  &__content {
    display: flex;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 23px;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    min-height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    &__create {
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: 1px solid #ccc;

      text-align: center;
      transition: background-color 0.6s ease;
      font-size: 17px;
      font-weight: 500;

      &:hover {
        background-color: #7fda83;
        color: white;
      }
    }
  }

  &__radio-group {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
    justify-content: start;
  }

  &__label__radio {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 20px;
    font-weight: 400;
  }

  @include respondBetween(0, $breakpoint-tablet) {
    max-width: 500px;

    &__title {
      font-size: 20px;
    }

    &__form {
      max-width: 400px;
    }

    &__label {
      font-size: 15px;
    }

    &__label__radio {
      font-size: 15px;
    }

    &__form {
      gap: 1rem;
      min-width: 150px;
      margin: 10px auto;
    }

    &__buttons {
      gap: 1.5rem;

      &__create {
        margin-top: 10px;
      }
    }
  }
}
