.dashboardMain {
  margin-left: 250px; // sidebar width
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respondBetween(0, $breakpoint-tablet) {
    margin-left: 0;
  }
}
