.dashboardMain {
  
  //padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 80px; 
  margin-left: 250px;
  padding: 2rem;
  height: calc(90vh - 75px); // zauzmi preostalu visinu
  overflow-y: none;
 //box-sizing: border-box;

  @include respondBetween(0, $breakpoint-tablet) {
    margin-left: 0;
  }
}
