.editProduct {
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 700px;
  min-width: 250px;
  height: 72vh;
  border-radius: 5px;
  padding: 30px;
  overflow-y: auto;

  &__content {
    display: flex;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__fields__label {
    font-size: 23px;
    font-weight: 500;
  }

  &__fields__input {
    width: 100%;
    min-height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;

    &:focus {
      outline: none;
      border-color: #888;
    }
  }

  &__imagePreview,
  &__newImagePreview {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  &__imageWrapper {
    position: relative;
    display: inline-block;
  }

  &__image {
    width: 100px;
    height: auto;
    display: block;
    border-radius: 0.5rem;
    object-fit: cover;
    border: 1px solid #ccc;
  }

  &__deleteBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(255, 0, 0, 0.7);
    border: none;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
    padding: 0;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  &__buttons__cancel {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: #eb5f46;
      color: white;
    }
  }

  &__buttons__save {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: #7fda83;
      color: white;
    }
  }

  @include respondBetween(0, $breakpoint-tablet) {
    &__form {
      gap: 1rem;
      min-width: 150px;
      margin: 10px auto;
    }

    &__fields__label {
      font-size: 20px;
    }

    &__buttons {
      gap: 1.5rem;
    }
  }
}
