.editProduct {
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  padding: 30px;

  &__content {
    display: flex;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    &__label {
      font-size: 25px;
      font-weight: 500;
    }

    &__input {
      width: 100%;
      min-height: 25px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    &__cancel {
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      flex: 1 1 auto;
      text-align: center;
      font-size: 15px;
      transition: background-color 0.6s ease;
      font-size: 17px;
      font-weight: 500;

      &:hover {
        background-color: #cc565e;
        color: white;
      }
    }

    &__save {
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      flex: 1 1 auto;
      text-align: center;
      font-size: 15px;
      transition: background-color 0.6s ease;
      font-size: 17px;
      font-weight: 500;

      &:hover {
        background-color: #7fda83;
        color: white;
      }
    }
  }

  @include respondBetween(0, $breakpoint-tablet) {
    &__form {
      gap: 1rem;
      min-width: 200px;
      margin: 10px auto;
    }

    &__buttons {
      gap: 1.5rem;

      &__cancel {
        margin-top: 10px;
      }

      &__save {
        margin-top: 10px;
      }
    }
  }
}
