.navbarDashboard {
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(181, 174, 174);

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;

    &__image {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 25px;
    white-space: nowrap;
  }

  &__adminImg {
    display: flex;
    align-items: center;
    gap: 15px;

    &__image {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    &__title {
      font-size: 20px;
      white-space: nowrap;
    }
  }

  @include respondBetween(0, $breakpoint-tablet) {
    &__content {
      gap: 10px;
    }

    &__logo {
      &__image {
        width: 60px;
        height: 60px;
      }
    }

    &__title {
      font-size: 15px;
    }

    &__adminImg {
      gap: 5px;

      &__image {
        width: 35px;
        height: 35px;
      }

      &__title {
        font-size: 18px;
      }
    }
  }
}
