.productTable {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
}

.productTable th,
.productTable td {
    border: 1px solid black;
}