.viewTable {
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 1500px;
  height: auto;
  border-radius: 5px;
  padding: 25px;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__text {
    flex: 1;
    text-align: center;
    min-width: 250px;
  }

  &__images {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
      background-color: rgb(197, 216, 220);
      padding: 10px;
      max-width: 100%;
      height: auto;
      border: 2px solid #ccc;
      border-radius: 10px;
    }

    button {
      margin: 5px;
      padding: 6px 12px;
      font-size: 20px;
    }
  }

  &__title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  &__p {
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
  }

  @include respondBetween(0, $breakpoint-tablet) {
    &__content {
      flex-direction: column;
    }

    &__text {
      flex: 1;
      text-align: center;
      min-width: 250px;
    }

    &__images {
      min-width: 100px;

      img {
        background-color: rgb(197, 216, 220);
        padding: 10px;
        max-width: 100%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 10px;
      }

      button {
        margin: 5px;
        padding: 6px 12px;
        font-size: 24px;
      }
    }

    &__title {
      font-size: 25px;
      margin-bottom: 10px;
    }

    &__p {
      font-size: 20px;
      font-weight: 600;
      margin: 30px 0;
    }
  }
}
